.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: rgba(3, 23, 54, 0.01);
    box-shadow: 0px 0px 30px rgba(129, 192, 189, 0.15);
    border-radius: 35px;
    overflow: hidden;
}

.unit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 4vw;
    cursor: pointer;
}

.unit h1 {
    font-family: 'DM Serif Text', serif;
    font-size: 3em;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #e2f3f3;
}

.unitNumber {
    background: linear-gradient(90deg, #4C8099 0%, #2C9A93 34.25%), #0C2441;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.progress {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress p {
    position: absolute;
    font-family: 'Quicksand', sans-serif;
    font-size: 2vh;
    color: #e2f3f3;
}

.percentage {
    font-size: 1.5vh;
}

.lessons {
    width: 20%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 0 4vw;
}

.lessons.expanded {
    max-height: 1000px;
    opacity: 1;
    padding: 0 4vw 2vh;
}

.lesson {
    text-decoration: none;
}

.lessons span {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25em;
    background: linear-gradient(90deg, #4C8099 0%, #2C9A93 34.25%), #0C2441;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lessons p {
    margin: 0 0 3vh;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
    color: #e2f3f3;
}

.lessons p::after {
    content: '';
    display: block;
    width: 25%;
    height: 1px;
    background: #294c60;
    margin: 1vh 0 3vh;
}
