@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

.background {
  background-image: url('/public/background.svg');
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pane {
  padding: 30px 150px 50px;
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  max-width: 600px;
  border-left: 3px solid white;
  border-right: 3px solid white;
  border-radius: 40px;
}

.pane h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 54px;
  color: #294c60;
}

.pane h2 {
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #294c60;
}

#login-button, #sign-up-button {
  padding: 20px 200px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  background-color: rgb(41, 76, 96, 0.85);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.button-container {
  margin-top: 80px;
}

.names {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.names .field-entry {
  width: 45%;
}

.link {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
  color: #00a3ff;
}

.field-entry {
  margin-bottom: 10px;
  text-align: left;
}

.field-entry h3 {
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #294c60;
}

/* .field-entry input {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 20px;
} */