@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.fields {
  padding: 10px 0px 20px;
  width: 32vw;
}

.field {
  text-align: left;
}

.field h3 {
  margin-top: -2px;
  margin-bottom: 5px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  color: #294c60;
}

.names {
  display: flex;
  justify-content: space-between;
}

.names .field {
  width: 45%;
}

.button {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.3vw;
  color: #294c60;
}

.button a {
  text-decoration: none;
  color: #00A3FF;
}

#logInButton, #signUpButton {
  padding: 2vh 10vw;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  font-size: 1.3vw;
  text-decoration: none;
  background-color: rgba(41, 76, 96, 0.85);
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .fields {
    padding: 0;
    width: 60vw;
  }

  .field h3 {
    font-size: 4vw;
  }

  .button h3 {
    font-size: 4vw;
  }

  #logInButton, #signUpButton {
    padding: 1vh 15vw;
    font-size: 4.5vw;
    border-radius: 20px;
  }
}