@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


.landing {
    display: flex;
    justify-content: center;
    align-items: start;

    width: 100vw;
    height: 100vh;

    background-image: url('../../assets/images/backgrounds/waves.svg');
    background-position: start;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding-top: 24vh;
}

.pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 0 5vh 0;
    gap: 4vh;

    width: 43%;

    background: url('../../assets/images/backgrounds/noise.png'), linear-gradient(123.41deg, rgba(255, 255, 255, 0.6) 7.72%, rgba(255, 255, 255, 0.35) 36.12%, rgba(255, 255, 255, 0.13) 63.88%, rgba(255, 255, 255, 0.15) 77.87%, rgba(255, 255, 255, 0.27) 96.17%);
    background-blend-mode: overlay, normal;
    box-shadow: 0px 4px 30px #81C0BD73;
    backdrop-filter: blur(0.2vw);
    border: #f5f6fe 2px solid;
    border-radius: 40px;
}

.pane h1 {
    margin: 0 5vw;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: calc(0.7rem + 1.4vw);
    color: #294c60;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.heroText {
    width: 75%;
    height: auto;
}

.heroImage {
    margin-bottom: -10px;
    width: 20%;
}

.logo {
    width: 100%;
    height: auto;
}

#signUpButton, #helpButton {
    padding: 12px 20%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5vw;
    text-decoration: none;
    background-color: #2A5B76d9;
    box-shadow: inset 0px 0px 15px rgba(132, 205, 246, 0.4);
    color: white;
    border-radius: 100px;
    cursor: pointer;
}


.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    margin: 10vh auto;
    gap: 2vh;
}

.mission h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 4em;
    color: #294c60;
    margin: 5vh 0 0;
    text-align: center;
}

.mission p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    color: #294c60;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin: 0 0 -3vh;
}

.background {
    background: linear-gradient(265.67deg, #56889F 7.04%, #6EB8B4 93.18%);
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.aspects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vh 0;
}

.aspect {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1vh auto;
    width: 77vw;
    gap: 6vw;
}

.aspect > div {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 2vh 0.5vw;
}

.aspect h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 3em;
    color: #e2f3f3;
    text-align: center;
    text-shadow: 0px 0px 20px rgba(41, 76, 96, 0.5);
    letter-spacing: 0.01em;
    margin: 0;
}

.aspect h1:after {
    content: "";
    display: block;
    width: 40%;
    height: 1px;
    background-color: #e2f3f3;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.aspect p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    line-height: 1.2;
    margin: 1vh;
}

.aspect img {
    width: calc(80px + 15vw);
    padding: 4vw;
    margin-top: -35px;
    margin-bottom: -35px
}

.waveTop {
    width: 100vw;
    height: auto;

    margin-top: -1px;
    vertical-align: top;
}
.waveBottom {
    width: 100vw;
    height: auto;

    margin-bottom: -1px;
    vertical-align: bottom;
}

.help {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8vh 16vw;
    gap: 2vh;
}

.help h1 {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-size: 3em;
    color: #294c60;
    text-align: center;
    margin: 0;
}

.help p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    color: #294c60;
    text-align: center;
    line-height: 1.4;
    letter-spacing: 0.01em;
    margin: 0 0 2vh;
}


/*
small screen
*/

@media only screen and (max-width: 900px) {
    .pane {
        width: 80%;
    }
    
    .heroImage {
        display: none;
    }
    
    .pane h1 {
        font-size: calc(0.7rem + 1.4vw);
    }
    
    .background {
        gap: 20px;
    }
    
    .aspect {
        gap: 0;
    }
    
    .leftAspect {
        flex-direction: column-reverse;
    }
    
    .rightAspect {
        flex-direction: column;
    }

    .aspect img {
        padding: 0;
        margin-top: -5px;
        margin-bottom: -20px
    }
    
    .aspectDescription {
        padding-top: 5px !important;
    }
    
    .aspectIcon {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    .aspect {
        margin: 0 auto;
    }
    
    .aspects {
        padding: 0;
    }

    #signUpButton, #helpButton {
        font-size: max(12px, 2vw);
    }

    .pane h1 {
        text-align: center;
    }
}
