@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 16vw;
  height: 40vh;
  gap: 2vh;
  padding: 2vw;
  background: url('../../assets/images/backgrounds/noise.png'), linear-gradient(123.41deg, rgba(255, 255, 255, 0.8) 7.72%, rgba(255, 255, 255, 0.4) 36.12%, rgba(255, 255, 255, 0.2) 63.88%, rgba(255, 255, 255, 0.2) 77.87%, rgba(255, 255, 255, 0.35) 96.17%);
  background-blend-mode: overlay, normal;
  box-shadow: 0px 2px 15px rgba(55, 89, 102, 0.2);
  border: #f5f6fe 1.5px solid;
  border-radius: 40px;
}

.member h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2vw;
  color: #294c60;
  text-align: center;
  margin: 0;
}

.member p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    font-size: 1.5vw;
    color: #294c60;
    text-align: center;
    margin: 0;
}

.member img {
  border-radius: 50%;
  width: 80%;
  height: auto;
}

@media (max-width: 768px) {
  .member {
    width: 50vw;
    height: 30vh;
    padding: 5vh 5vw;
    font-size: 4vw;
  }

  .member h3 {
    font-size: 6vw;
  }

  .member p {
    font-size: 4vw;
  }

  .member img {
    width: 170px;
    height: 170px;
  }
}